<div class="row">
  <div class="col-md-12">
    <h1>About Us</h1>
    <div class="lead">
      <p>Welcome to our company. We are dedicated to providing the best services to our clients.</p>
      <p>Our team of professionals is committed to excellence and customer satisfaction.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h2>Our Mission</h2>
    <p>To deliver outstanding services that exceed expectations and build lasting relationships with our clients.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <%= link_to 'View Our Services', services_path, class: 'btn btn-primary' %>
    <%= link_to 'Contact Us', new_contact_message_path, class: 'btn btn-secondary' %>
  </div>
</div>
